
.bar {
    fill: #8e7bd7;
}
.bar:hover{
    fill: #6443ea;
}

.axis path, .axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.x path {
    display: none;
}
.toolTip {
    position: absolute;
    display: none;
    pointer-events: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid black;
    padding: 14px;
    text-align: center;
    color: var(--dark-gray);
    font-size: var(--caption-font-size);
    font-family: var(--font-family-theme);
    text-align: left;
}

.card__header__vis04{
    display: flex;
    min-height: 30px;
    padding: 1em;
    font-size: 1.5rem;
    line-height: 1;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
}

.y-axis, .x-axis {
    fill: none;
    stroke: none;
}