body {
    margin: 15px;
    background-color: #F1F3F3;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #424949;
    background-color: #ecf0f1;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.bar {
    fill: #8e7bd7;
}
.bar:hover{
    fill: #6443ea;
}

.axis path, .axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.x path {
    display: none;
}
.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
}