/* Aqui ficarão as estilizações básicas, a última camada que veremos seletores em tags diretamente. 
Portanto aqui ficarão estilos para os headings h1-h6, blockquotes, a, buttons, etc. 
Mas lembre-se são estilizações BÁSICAS, nada de estilizar tudo aqui! */

header {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-theme);
}

.header__authors {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6, p,
span {
  font-family: var(--font-family-theme);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.default-font-family{
  font-family: var(--font-family-theme);
}

.text-color{
  color: var(--dark-gray);
}

.background-color{
  background-color: var(--white);
}

.text-title{
  font-size: var(--title-font-size);
}

.text-caption{
  font-size: var(--caption-font-size);
}

.text-axis{
  font-size: var(--axis-font-size);
}
