/* Aqui como o nome já diz, teremos nossos componentes já mais específicos. De acordo com o RSCSS, 
aqui que vamos jogar todos aqueles componentes/elementos criados. Enquanto nos objetos nós tentamos abstrair 
o máximo possível, para ter muitos objetos reutilizáveis e genéricos, aqui nós vamos ser específicos ao criar os componentes, 
mas respeitando as regras do RSCSS de especificidade e também não colocando positions ou outras propriedades 
que engessem muito o componente a ponto dele não ser reutilizável.
Normalmente, aqui ficarão listas específicas como de produtos, cards específicos como aqueles incluindo imagens, etc */
.card .card__header h2 {
  font-size: 1.5rem;
  color: var(--dark-gray);
}

.card__body__countries {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
  color: var(--gray);
}

.card__body__countries__group {
  display: flex;
  flex-direction: column;
}

.card__body__countries__map {
  display: flex;
  min-width: 70vw;
}

.card__body__countries__details {
  font-family: var(--font-family-theme);
  font-size: 0.75rem;
  line-height: 1.25em;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
}

.card__body__countries__details ul {
  list-style-type: none;
}

.card__body__countries__details button {
  border: none;
  background: none;
}

.card__body__countries__details__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__body__countries__details__header__flag {
  position: relative;
  background-repeat: no-repeat;
  height: 1.5em;
  width: 2em;
  display: inline-block;
}

.card__body__countries__details__header__title {
  display: flex;
  flex-direction: row;
  margin-left: 0.3em;
}

.card__body__countries__details__header__title strong {
  margin-right: 0.3em;
}

.card__body__countries__details__header__title__highlight {
  color: var(--cornflower-blue);
  font-weight: 700;
  white-space: normal;
}

.card__body__countries__details__body {
  display: flex;
  flex-direction: row;
  margin-top: .5em;
}

.card__body__countries__details__click-to-display-info {
  
}

.card__body__countries__details__click-to-display-info--hidden {
  display: none;
}

.card__body__countries__details__institutions {
  font-size: 0.75rem;
  position: relative;
  margin-right: 1em;
  padding-right: 0.5em;
}

.card__body__countries__details__institutions::after {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--light-gray);
  height: 100%;
  width: 1.5px;
  right: 0px;
  top: 0px;
}

.card__body__countries__details__institutions__title strong {
  color: var(--dark-purple);
}

.card__body__countries__details__institutions__list li:hover {
  color: var(--purple);
  font-weight: 700;
  cursor: pointer;
}

.card__body__countries__details__authors {
  font-size: 0.75rem;
}

.card__body__countries__details__authors__title strong {
  color: var(--dark-magenta);
}

.card__body__countries__details__authors__list--highlighted {
  color: var(--purple);
  font-weight: 700;
}

.card__body__countries__legends {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.5em;
  bottom: 0px;
  font-family: var(--font-family-theme);
  font-size: 13px;
}

.card__body__countries__legends__legend {
  display: flex;
  flex-direction: row;
}

.card__body__countries__legends__legend__sign {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.card__body__countries__legends__legend__sign--light-purple {
  background-color: var(--light-purple);
  display: inline-block;
  height: 100%;
  width: 100%;
}

.card__body__countries__legends__legend__description {
  margin-left: 0.3em;
}