/* Seguindo os princípios de OOCSS (CSS Orientado a Objetos), aqui é onde iremos ter nossos pequenos "objetos", 
que nada mais são que pequenos pedaços da interface, em geral, padrões que se repetem por todo o site e que podem 
ter ou não uma camada visual por cima.
Aqui é onde fazemos os padrões de botões, listas, paineis, etc. Nesse momento, só é permitido também o uso de classes. */

.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px black solid;
}

.card__header {
  display: flex;
  min-height: 30px;
  padding: 1em;
  font-size: 0.5rem;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
  align-items: center;
}

.card__body {
  display: flex;
  padding: 0.5em;
  overflow: hidden;
}

.card__body--no-overflow {
  overflow: visible;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  vertical-align: top;

  text-decoration: none;
  color: #000;
  font-family: var(--font-family-theme);
  font-size: 16px;
  transition: all 0.4s ease;
  -webkit-transition: all .4s ease;
  padding: 5px;
  background-color: #FFF;
  position: relative;
}

.icon:before {
  content: attr(data-title);
  background-color: #000;
  color: #FFF;
  font-size: 13px;
  padding: 10px;
  box-sizing: border-box;
  font-family: var(--font-family-theme);
  font-weight: 400;
  position: absolute;
  top: 32px;
  width: 150px;
  opacity: 0;
  transition: all .4s ease;
  white-space: pre-wrap;
}

.icon:after {
  content: "";
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  left: 5px;
  bottom: -16px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #000 transparent;
  transition: all .4s ease;
}

.icon:hover:after,
.icon:hover:before {
  opacity: 1;
  z-index: 999;
}

.icon-information {
  background-image: var(--icon-information);
}

.stats {
  display: flex;
  flex-direction: row;
  font-family: var(--font-family-theme);
}

.stats__stat {
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 300px;
  border-radius: 1em;
  padding: 1.5em;
  align-items: center;
  margin: 0 1em;
}

.stats__stat__title {
  color: var(--dark-grey);
}

.stats__stat__value {  
  font-weight: 700;
}