/* Essas são as configurações básicas da sua arquitetura. 
Em geral, são as variáveis globais que vão definir cores, 
espaçamentos e outras configurações desejadas para o 
funcionamento do seu framework em si */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --font-family-theme: Roboto, sans-serif;
  --primary: #007bff;
  --white: #fff;
  --purple: #8e7bd7;
  --dark-purple: #6443ea;
}

