@import "settings.css";

/* body {
    color: var(--dark-gray) !important;
    font-size: var(--caption-font-size) !important;
    font-family: var(--font-family-theme) !important;
} */

table {
    color: var(--dark-gray) !important;
    font-size: var(--caption-font-size) !important;
    font-family: var(--font-family-theme) !important;
}

table, th, td { border: 1px solid rgba(224, 224, 224, 0.842); cursor: default;}

td, th {
    padding: 5px;
    text-align: left;
    height: 20px;
}

th {
    background-color: #3C799C;
    color: white;
}

tr:hover td { 
    background-color:#e1e1e18c;
}