@import "settings.css";

/* body {
    color: var(--dark-gray) !important;
    font-size: var(--caption-font-size) !important;
    font-family: var(--font-family-theme) !important;
} */

table {
    color: var(--dark-gray) !important;
    font-size: var(--caption-font-size) !important;
    font-family: var(--font-family-theme) !important;
    border-collapse: collapse;
    cursor: default;
    border: 0px; 
    width: 100%;
}


td, th {
    padding: 8px;
    text-align: left;
    height: 32px;
    border-top: 1px solid rgba(224, 224, 224, 0.842); 
    border-bottom: 1px solid rgba(224, 224, 224, 0.842); 
    cursor: default;
}

th {
    background-color: var(--deep-purple-200);
    color: white;
    color: #343a40;
    height: 36px;
}

tr:nth-child(even) {background-color: var(--gray-50);}

tr:hover td { 
    background-color: var(--gray-200);
}

